.ui-dialog-titlebar { background-color: #aaa !important; } 
.ui-widget-header { background-color: #aaa !important; } 

.scChromeName { background-color: #aaa !important; }

.scFormDialogHeader { background-color: #aaa !important; } 