.sc-globalHeader {
  color: #000 !important;
  background-color: #e2e2e2 !important;
}

.scMessageBar.scInformation {
    background-color: #AADBEE  !important;
    color: #185F7B  !important;
}

.scRibbon { background-color: #fcfcfc !important; }
.scRibbon a.scRibbonNavigatorButtonsNormal { color: #000 !important; }

.scEditorSectionCaptionExpanded {
    border-left: 5px solid #5448d9 !important;
    background-color: #e2e0f9 !important;
    color: #5448d9 !important;
}

.scContentButton {color: #5448d9 !important;}