a.scSystemMenu {
  background: url("/sitecore/shell/themes/standard/images/hamburgermenu_purple.png")
    no-repeat center !important;
}

a.scSystemMenu:hover {
  background: url("/sitecore/shell/themes/standard/images/hamburgermenu_purple.png")
    no-repeat center !important;
}

#EditorTabs {
  border-bottom: 2px solid #5448d9 !important;
}

.scCaption {
  background-color: #707070 !important;
}

.scPager {
  border-top: 2px solid #5448d9 !important;
  background-color: #707070 !important;
}

.scEditorHeader {
  padding: 20px 15px !important;
}