.ui-dialog-titlebar {
  background-color: #707070 !important;
}
.ui-widget-header {
  background-color: #707070 !important;
}
.scFormDialogHeader {
  background-color: #707070 !important;
}
.scDialogHeader {
  background-color: #707070 !important;
}
.DialogHeader {
  background-color: #707070 !important;
}
.scChromeName {
  background-color: #707070 !important;
}
