.sc-globalHeader {
  color: #000 !important;
  background-color: #e2e2e2 !important;
}

.scMessageBar.scInformation {
  background-color: #aadbee !important;
  color: #185f7b !important;
}

.scRibbon {
  background-color: #fcfcfc !important;
}
.scRibbon a.scRibbonNavigatorButtonsNormal {
  color: #000 !important;
} 

.scEditorSectionCaptionExpanded {
  border-left: 5px solid #5448d9 !important;
  background-color: #707070 !important; 
  border-bottom: 1px solid #707070 !important;
  /*color: #5448d9 !important;*/
}
.scEditorSectionCaptionCollapsed {
    border-left: 5px solid #e2e0f9 !important;
  /*background-color: #e2e2e2 !important;
  border-bottom: 1px solid #aaaaaa !important;
  color: #000 !important;*/
}

.scContentButton {
  color: #5448d9 !important;
}

a.scRibbonEditorTabActive {
  background-color: #5448d9 !important;
}

.scEditorSections {
  background-color: #f6f6f6 !important;
}

.scContentTreeNodeActive {
  background-color: #e2e0f9 !important;
}

.scTabActive {
  background-color: #5448d9 !important;
}

.scTabActive:hover {
  background-color: #5448d9 !important;
}

.scListControl > tbody:first-child > tr:first-child, .scListControl > thead, .scListControlHead {
  background-color: #707070 !important;
}

.scListControl > thead th, .scListControl > tbody:first-child > tr:first-child > td {
  border: 1px solid #707070 !important;
}

.scTabstrip {
  border-bottom: 2px solid #5448d9 !important;
}