.sc-globalHeader-content { background-color: #f6f6f6 !important; }
.sc-globalheader-appName { color:#000 !important; }
.sc-globalheader-appName{ color:#000 !important; }

ul.sc-accountInformation li { color:#000 !important; }

.sc-quickbar {
    background-color: #f6f6f6 !important;
    background: #f6f6f6 !important;
}

.sc-quickbar-item { color: #000 !important; }