.sc-globalHeader-content { background-color: #e9e9e9 !important; }
.sc-globalheader-appName { color:#000 !important; }
.sc-globalheader-appName{ color:#000 !important; }

ul.sc-accountInformation li { color:#000 !important; }

.sc-quickbar {
    background-color: #e9e9e9 !important;
    background: #e9e9e9 !important;
}

.sc-quickbar-item { color: #000 !important; }
.sc-ribbon { background-color: #fcfcfc !important; }

.sc-dialogWindow-header { background-color: #aaa !important; }

.scChromeName { background-color: #aaa !important; }

.sc-ribbon .sc-chunk-button-small:hover { background: red; }
.sc-ribbon .sc-chunk-button:hover { background: red; } 