.sc-globalHeader-content {
    background-color: #e2e2e2;
}

.sc-globalheader-appName {
    color:#000;
}

.sc-globalheader-appName{
    color:#000;
}

ul.sc-accountInformation li {
    color:#000;
}

.sc-quickbar {
    background-color: #e9e9e9;
    background: #e9e9e9;
}